In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## import train_test_split
from sklearn.model_selection import train_test_split

In [2]:
dp = pd.read_csv('stats_and_pay_pitchers_topcols.csv')
db = pd.read_csv('stats_and_pay_batters_topcols.csv')

In [3]:
# do train/test split for each
train_p, test_p = train_test_split(dp.copy(), random_state=123)
train_b, test_b = train_test_split(db.copy(), random_state=456)

In [4]:
len(train_p), len(test_p)

(2659, 887)

In [5]:
len(train_b), len(test_b)

(2434, 812)

This really isn't a lot of data to train a neural network with, I think I have to scrap that plan.

In [6]:
train_p.to_csv('datasets/train_p_topcols.csv', index=False)
test_p.to_csv('datasets/test_p_topcols.csv', index=False)
train_b.to_csv('datasets/train_b_topcols.csv', index=False)
test_b.to_csv('datasets/test_b_topcols.csv', index=False)

In [7]:
dp.head()

,fgid,year,pay_adj,log_pay_adj,age,p_Age,W,L,p_WAR,ERA,...,Stf+ SL,Loc+ SL,Pit+ SL,Stf+ FC,Loc+ FC,Pit+ FC,Stf+ FS,Stuff+,Location+,Pitching+
0,1943,2016,43486000.0,7.638349,32,31.0,19.0,3.0,5.3,1.66,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10197,2016,5563650.0,6.745360,25,24.0,6.0,17.0,3.7,3.02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7146,2016,3453300.0,6.538234,29,28.0,4.0,3.0,0.8,3.86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,9323,2016,3229475.0,6.509132,26,25.0,6.0,5.0,1.7,3.60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3862,2016,3005650.0,6.477938,27,26.0,14.0,9.0,0.6,4.67,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

---
# Use all the cols

In [8]:
dp = pd.read_csv('stats_and_pay_pitchers.csv')
db = pd.read_csv('stats_and_pay_batters.csv')

In [9]:
# do train/test split for each
train_p, test_p = train_test_split(dp.copy(), random_state=1234)
train_b, test_b = train_test_split(db.copy(), random_state=5676)

In [10]:
len(train_p), len(test_p)

(2659, 887)

In [11]:
len(train_b), len(test_b)

(2434, 812)

This really isn't a lot of data to train a neural network with, I think I have to scrap that plan.

In [12]:
train_p.to_csv('datasets/train_p.csv', index=False)
test_p.to_csv('datasets/test_p.csv', index=False)
train_b.to_csv('datasets/train_b.csv', index=False)
test_b.to_csv('datasets/test_b.csv', index=False)

---
## PCA

In [13]:
df_pca = pd.read_csv('stats_and_pay_batters_pca.csv')
train_pca, test_pca = train_test_split(df_pca.copy(), random_state=86753090)
len(train_pca), len(test_pca)

(5079, 1693)

In [14]:
train_pca.to_csv('datasets/train_pca.csv', index=False)
test_pca.to_csv('datasets/test_pca.csv', index=False)

We want to use only the numeric columns

In [ ]:
side_cols = ['fgid','year','Season','Season_prev','pay','log_pay','adj','pay_adj','log_pay_adj']

columns_mask = np.logical_and.reduce([~np.isin(db.columns,side_cols),
                                      np.logical_or(db.dtypes==np.float64, db.dtypes==int)])
batting_cols = train.columns[np.isin(train.columns,db.columns[columns_mask])]


columns_mask = np.logical_and.reduce([~np.isin(dp.columns,side_cols),
                                      np.logical_or(dp.dtypes==np.float64,dp.dtypes==int)])
pitching_cols = train.columns[np.isin(train.columns,dp.columns[columns_mask])]