In [89]:
import numpy as np
import pandas as pd
import bs4

from pybaseball import batting_stats,pitching_stats,playerid_lookup

In [90]:
path = "2024 MLB Free Agents Tracker Spotrac.htm"

with open(path, "r") as HTMLFile:
    webhtml=HTMLFile.read()
print(path, 'loaded')
# put it in a soup
soup = bs4.BeautifulSoup(webhtml, 'html5lib')

2024 MLB Free Agents Tracker Spotrac.htm loaded

In [91]:
# get the relevant parts of the webpage
free_agents = soup.find_all('td',{'class':"player sticky left-0"})

In [92]:
# extract the names
names = [a.text.split() for a in free_agents]
print(len(names),"Free agents")

221 Free agents

In [93]:
%%time
IDs = []
fg_names =[]
for name in names:
    # lookup fangrphs id
    if len(name)==5:
        df = playerid_lookup(name[3],name[2],fuzzy=True)
    else:
        df = playerid_lookup(name[2],name[1],fuzzy=True)
    IDs.append(df['key_fangraphs'].values[0])
    fg_names.append([df['name_last'].values[0],df['name_first'].values[0]])

No identically matched names found! Returning the 5 most similar names.
No identically matched names found! Returning the 5 most similar names.
No identically matched names found! Returning the 5 most similar names.
No identically matched names found! Returning the 5 most similar names.
No identically matched names found! Returning the 5 most similar names.
No identically matched names found! Returning the 5 most similar names.
No identically matched names found! Returning the 5 most similar names.
No identically matched names found! Returning the 5 most similar names.
No identically matched names found! Returning the 5 most similar names.
No identically matched names found! Returning the 5 most similar names.
No identically matched names found! Returning the 5 most similar names.
No identically matched names found! Returning the 5 most similar names.
No identically matched names found! Returning the 5 most similar names.
No identically matched names found! Returning the 5 most similar names.
No identically matched names found! Returning the 5 most similar names.
No identically matched names found! Returning the 5 most similar names.
No identically matched names found! Returning the 5 most similar names.
No identically matched names found! Returning the 5 most similar names.
No identically matched names found! Returning the 5 most similar names.
No identically matched names found! Returning the 5 most similar names.
No identically matched names found! Returning the 5 most similar names.
No identically matched names found! Returning the 5 most similar names.
No identically matched names found! Returning the 5 most similar names.
No identically matched names found! Returning the 5 most similar names.
No identically matched names found! Returning the 5 most similar names.
No identically matched names found! Returning the 5 most similar names.
No identically matched names found! Returning the 5 most similar names.
No identically matched names found! Returning the 5 most similar names.
No identically matched names found! Returning the 5 most similar names.
No identically matched names found! Returning the 5 most similar names.
No identically matched names found! Returning the 5 most similar names.
No identically matched names found! Returning the 5 most similar names.
No identically matched names found! Returning the 5 most similar names.
No identically matched names found! Returning the 5 most similar names.
No identically matched names found! Returning the 5 most similar names.
No identically matched names found! Returning the 5 most similar names.
No identically matched names found! Returning the 5 most similar names.
No identically matched names found! Returning the 5 most similar names.
CPU times: user 15.5 s, sys: 0 ns, total: 15.5 s
Wall time: 15.5 s

In [94]:
# check we didn't do a bad job
for i,(fg,name) in enumerate(zip(fg_names,names)):
    if name[2].lower() != fg[0] or name[1].lower() != fg[1] or len(fg[1])<1 or len(fg[0])<1:
        print(i,fg,name)

3 ['báez', 'javier'] ['Baez', 'Javier', 'Baez']
5 ['ryu', 'hyun jin'] ['Ryu', 'Hyun-Jin', 'Ryu']
8 ['perez', 'marty'] ['Perez', 'Martin', 'Perez']
20 ['urías', 'julio'] ['Urias', 'Julio', 'Urias']
22 ['hernández', 'teoscar'] ['Hernandez', 'Teoscar', 'Hernandez']
47 ['hernández', 'enrique'] ['Hernandez', 'Enrique', 'Hernandez']
50 ['martinez', 'j. d.'] ['Martinez', 'J.D.', 'Martinez']
67 ['urshela', 'gio'] ['Urshela', 'Giovanny', 'Urshela']
77 ['narváez', 'omar'] ['Narvaez', 'Omar', 'Narvaez']
79 ['cron', 'c. j.'] ['Cron', 'C.J.', 'Cron']
105 ['choi', 'ji man'] ['Choi', 'Ji-Man', 'Choi']
106 ['wendle', 'joey'] ['Wendle', 'Joe', 'Wendle']
109 ['maldonado', 'martín'] ['Maldonado', 'Martin', 'Maldonado']
121 ['leclerc', 'josé'] ['Leclerc', 'Jose', 'Leclerc']
122 ['lópez', 'reynaldo'] ['Lopez', 'Reynaldo', 'Lopez']
125 ['pagán', 'emilio'] ['Pagan', 'Emilio', 'Pagan']
129 ['velasquez', 'vince'] ['Velasquez', 'Vincent', 'Velasquez']
130 ['gurriel', 'lourdes'] ['Gurriel', 'Jr.', 'Lourdes', 'Gurriel', 'Jr.']
132 ['mondesí', 'adalberto'] ['Mondesi', 'Adalberto', 'Mondesi']
139 ['junis', 'jakob'] ['Junis', 'Jake', 'Junis']
140 ['jimenez', 'jose'] ['Jimenez', 'Joe', 'Jimenez']
143 ['garcía', 'jarlín'] ['Garcia', 'Jarlin', 'Garcia']
144 ['perez', 'robert'] ['Perez', 'Roberto', 'Perez']
147 ['cisnero', 'josé'] ['Cisnero', 'Jose', 'Cisnero']
148 ['edwards', ''] ['Edwards', 'C.J.', 'Edwards']
158 ['sánchez', 'gary'] ['Sanchez', 'Gary', 'Sanchez']
162 ['gurriel', 'yuli'] ['Gurriel', 'Yulieski', 'Gurriel']
166 ['reyes', 'alex'] ['Reyes', 'Alexander', 'Reyes']
168 ['león', 'sandy'] ['Leon', 'Sandy', 'Leon']
169 ['bradley', 'jackie'] ['Bradley', 'Jr.', 'Jackie', 'Bradley', 'Jr.']
174 ['colomé', 'alex'] ['Colome', 'Alex', 'Colome']
176 ['claudio', 'alex'] ['Claudio', 'Alexander', 'Claudio']
193 ['pena', 'jose'] ['Urena', 'Jose', 'Urena']
203 ['martín', 'leonys'] ['Martin', 'Leonys', 'Martin']
204 ['hechavarría', 'adeiny'] ['Hechavarria', 'Adeiny', 'Hechavarria']
211 ['peraza', 'josé'] ['Peraza', 'Jose', 'Peraza']
212 ['elías', 'roenis'] ['Elias', 'Roenis', 'Elias']
215 ['lee', 'sang-hoon'] ['Lee', 'Jung-hoo', 'Lee']
216 ['tateyama', 'yoshinori'] ['Yamamoto', 'Yoshinobu', 'Yamamoto']
219 ['snyder', 'jack'] ['Snodgrass', 'Jack', 'Snodgrass']

We have some mismatches to fix

(no luck with yamamoto Yoshinobu or sang-hoon lee so we'll just have to ignore any predictions for them)

In [95]:
#https://www.mlb.com/player/carl-edwards-jr-605218
cj = playerid_lookup('edwards', 'CJ',fuzzy=True)
cj

No identically matched names found! Returning the 5 most similar names.

,name_last,name_first,key_mlbam,key_retro,key_bbref,key_fangraphs,mlb_played_first,mlb_played_last
0,edwards,,113750,edwau101,edwar01,1003682,1875.0,1875.0
1,edwards,,-1,,edwar03,-1,1927.0,1927.0
2,edwards,,113750,edwau101,edwar01,1003682,1875.0,1875.0
3,edwards,,-1,,edwar03,-1,1927.0,1927.0
4,edwards,jon,457754,edwaj001,edwarjo02,1483,2014.0,2019.0
5,edwards,doc,113755,edwad102,edwardo01,1003685,1962.0,1970.0
6,edwards,carl,605218,edwac001,edwarca01,13607,2015.0,2023.0

In [96]:
IDs[148] = cj['key_fangraphs'].values[6]
fg_names[148] = [cj['name_last'].values[6],cj['name_first'].values[6]]

In [97]:
jose = playerid_lookup('Urena', 'Jose',fuzzy=True)
jose

No identically matched names found! Returning the 5 most similar names.

,name_last,name_first,key_mlbam,key_retro,key_bbref,key_fangraphs,mlb_played_first,mlb_played_last
0,pena,jose,120374,penaj101,penajo01,1010148,1969.0,1972.0
1,ureña,josé,570632,urenj001,urenajo01,11589,2015.0,2023.0
2,uribe,jose,123585,uribj001,uribejo01,1013300,1984.0,1993.0
3,cardenal,jose,111981,cardj101,cardejo02,1001937,1963.0,1980.0
4,segura,jose,121979,seguj001,segurjo01,1011726,1988.0,1991.0

In [98]:
IDs[193] = jose['key_fangraphs'].values[1]
fg_names[193] = [jose['name_last'].values[1],jose['name_first'].values[1]]

In [99]:
# https://www.milb.com/player/jack-snodgrass-607422
jack = playerid_lookup('Jackson','Steven',fuzzy=True)
jack

,name_last,name_first,key_mlbam,key_retro,key_bbref,key_fangraphs,mlb_played_first,mlb_played_last
0,jackson,steven,452259,jacks001,jacksst01,7341,2009.0,2010.0

In [100]:
IDs[219] = jack['key_fangraphs'].values[0]
fg_names[219] = [jack['name_last'].values[0],jack['name_first'].values[0]]

In [101]:
# put it all in a dataframe to save
df_free = pd.DataFrame({'fgid':IDs,'LastName':np.array(fg_names)[:,0],'FirstName':np.array(fg_names)[:,1]})
df_free.head()

    fgid LastName FirstName
0   1744  cabrera    miguel
1  19755   ohtani    shohei
2  13431  stroman    marcus
3  12979     báez    javier
4   4314    votto      joey

In [102]:
df_free.to_csv('2024_free_agents.csv',index=False)